$icon-font-path:"../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower// variables:scss
@import "../app/styles/variables.scss";
// end variables

.browsehappy {
    margin:0.2em 0;
    background:#ccc;
    color:#000;
    padding:0.2em 0;
}

body {
    padding:0;
    font-family: "Helvetica","Arial","sans-serif";
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,.marketing,.footer {
    padding-left:15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background:$color-white-1;    
    border-bottom:1px solid $color-grey-1;

    .navbar {
        display:none;
    }

    a.logo {
        display: block;
        text-align:center;
        margin:20px 0;

        img {
            display:inline-block;
            height: 80px;
        }
    }

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top:0;
        margin-bottom:0;
        line-height:40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    text-align: center;
    padding-top:19px;
    color:#777;
    border-top:1px solid #e5e5e5;

    .container {
        margin-top: 0;

        p {
            margin: 10px;
        }
    }
}

.container-narrow>hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align:center;
    border-bottom:1px solid #e5e5e5;
    .btn {
        font-size:21px;
        padding: 14px 24px;
    }
}
/* Supporting marketing content */
.marketing {
    margin:40px 0;
    p+h4 {
        margin-top: 28px;
    }
}
/* Responsive:Portrait tablets and up */
@media screen and (min-width:768px) {
    .container {
        width:1280px;
        max-width:1920px;
        padding: 0;
    }
    /* Remove the padding we set earlier */
    .header,.marketing,.footer {
        padding-left:0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 0px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* REDI */

.container {
    margin-top: 121px;
}

.btn {
    padding:8px 15px;
    display:inline-block;
    background:$color-pink-1;
    color:$color-white-1;
    font:25px "Helvetica";
    @include border-radius(6px);
    &:hover {
        background:$color-orange-1;
        color:$color-white-1;
    }
}

.advertising {
    position:relative;
    background:$color-white-2;

    .back {
        width:100%;
    }

    .cartoon-cta {
        position:absolute;
        right:14%;
        bottom:0px;
        width:23%;

        img {
            display:inline-block;
            width:100%;
        }

        .btn {
            position:absolute;
            top:10%;
            right: -26%;
        }
    }
}

.redi {
    text-align: center;

    h1 {
        color:$color-blue-1;
        font-size:30px;
        margin-top: 45px;

        span {
            margin-top: 15px;
            display: block;
            font-size: 26px;
        }

        &.big {
            font-size: 60px;
        }

        &.highlight {
            background-color: $color-blue-1;
            color: $color-white-1;
            padding: 20px 0;
            margin-bottom: 0;
        }
    }

    h2 {
        display: block;
        width:  100%;
        color:$color-grey-2;
        font-size:18px;
        font-weight:100;
        margin-top:0;
    }

    h3 {
        display: block;
        width:  100%;
        color:$color-green-2;
        font-size: 24px;
    }

    .table {
        th {
            background-color: $color-green-1;
            color: $color-white-1;
            text-align: center;
            font-size: 25px;
            font-weight: 100;
        }

        td {
            font-size: 20px;
            font-weight: 200;
        }

        &.table-striped {
            color: $color-grey-1;

            tr:nth-of-type(odd) {
                background-color: $color-white-2;
            }
        }
    }
}

.redi-form {
    text-align:center;
    width: 1024px;
    margin:0 auto 40px;

    label {
        display:block;
        color:$color-green-2;
        font:30px "Helvetica";
    }

    input[type="text"] {
        width:100%;
        padding:10px 15px;
        border:1px solid $color-grey-2;
        font-size:28px;
        font-weight:200;
        text-align:center;
        color: $color-grey-1;
        @include border-radius(6px);

        &:focus {
            outline:none;
            border:1px solid $color-grey-1;
            background:$color-green-4;
        }
    }

    .categories {
        display:inline-block;
        width:100%;
        margin:20px 0 60px;

        div {
            position:relative;
            float:left;
            width:50%;
            height:200px;
            color:$color-white-1;
            text-decoration:none;
            display:table;
            transition: all .2s ease-in-out;

            &:hover {
                transform: scale(1.05);
                z-index: 1;
            }

            &.active {
                width: 100%;
            }

            &.unactive {
                display: none;
            }

            p {
                    position:relative;
                    display:table-cell;
                    vertical-align:middle;
                    font-size:40px;
                    font-weight:100;

                    span {
                            display:block;
                }
            }

            input[type="radio"] {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                opacity:0;
                    z-index:1;
            }

            &.proyecto {
                background-color:$color-blue-1;
            }

            &.hogar {
                background-color:$color-pink-1;
            }

            &.educacion {
                background-color:$color-orange-1;
            }

            &.otros {
                background-color:$color-yellow-1;
            }
        }
    }

    .section {
        margin-bottom:40px;
    }

    .budget-title {
        color: $color-green-1;
        font-size: 40px;
    }

    .expenses-section {
            display:inline-block;

            input {
                float:left;
                width:48%;

                &:last-child {
                    margin-left: 4%;
            }
        }
    }

    .income-section {
            display: table;

            input {
                display: table-cell;
                width: 30%;
                margin-right: 3%;

                &:last-child {
                    margin-left: 0%;
            }
        }
    }

    .form-group {
        margin-bottom: 20px;
    }
}

.disclaimer {
    font-size: 16px;
    margin-top: -5px;
    color: $color-grey-2;
    margin-bottom: 40px;
}

.state {
    float: left;
    display: table;
    text-align: center;
    margin: 80px 10% 40px;

    div {
        display: table-cell;
        vertical-align: middle;

        &.left-text,
        &.right-text {
            width: 35%;
        }

        &.left-text {
            text-align: right;
        }

        &.right-text {
            text-align: left;
        }

        p {
            color: $color-grey-1;
            font-size: 30px;
            font-weight: 200;
        }

        &.bulb {
            padding: 0 2%;

            img {
                width: 80%;
            }
        }
    }
}

.btn-tip {
    margin-bottom: 40px;
}

.tip {
    h1 {
        margin-top: 0;
    }

    p {
        font-size: 25px;
        font-weight: 200;
        background-color: $color-blue-2;
        color: $color-green-1;
        padding: 10px 0;
        margin-bottom: 30px;
    }

    ul {
        text-align: left;
        margin: 20px 0;

        li {
            margin-bottom: 20px;

            img {
                position: relative;
                display: inline-block;

                &.finagro {
                    height: 50px;
                }

                &.davivienda {
                    height: 30px;
                    top: -4px;
                }
            }

            span {
                color: $color-pink-1;
            }
        }
    }
}

.modal-lg {
    width: 1200px;
}

.modal-body {
    padding: 30px 30px 0;
}