<div>
	<form>
		<h1>¿Cual es el sueño que quieres cumplir?</h1>
		<p>Selecciona la categoria a la que pertenece</p>
		<div class="categories">
			<a>Vivienda</a>
			<a>Transporte</a>
			<a>Alimentación</a>
			<a>Educación</a>
			<a>Medicina</a>
			<a>Otros</a>
		</div>
		<input type="hidden" value="" />

		<div class="form-cont-1">
			<div class="form-group">
				<label>Cuentanos tu sueño</label>
				<input type="text" value="" placeholder="Nombre y apellido" />
			</div>
			<div class="section">
				<label>Como te llamas?</label>
				<input type="text" value="" placeholder="Nombre" />
			</div>
			<div class="section">
				<label>Donde te podemos llamar?</label>
				<input type="text" value="" placeholder="" />
			</div>
			<div class="section">
				<label>Celular</label>
				<input type="text" value="" placeholder="" />
			</div>
			<div class="section">
				<label>Email</label>
				<input type="text" value="" placeholder="" />
			</div>
			<div class="section">
				<label>Ciudad</label>
				<input type="text" value="" placeholder="" />
			</div>
			<div class="section">
				<label>Departamento</label>
				<input type="text" value="" placeholder="" />
			</div>
			<div class="section">
				<label>Dirección</label>
				<input type="text" value="" placeholder="" />
			</div>
		</div>
		<div class="form-cont-2">
			<div>
		</div>
	</form>
</div>