<div>
    <form class="redi-form">
        <h1>¿Cuál es el sueño que quieres cumplir?</h1>
        <h2>Selecciona la categoría a la que pertenece</h2>
        <div class="categories">
            <div class="proyecto">
                <input ng-click="toStep2()" class="to-step2" type="radio" name="inlineRadioOptions" ng-model="user.goalCategory" value="Proyecto">
                <p>Proyecto<span class="fa fa-truck"></span></p>
            </div>
            <div class="hogar">
                <input ng-click="toStep2()" class="to-step2" type="radio" name="inlineRadioOptions" ng-model="user.goalCategory" value="Hogar">
                <p>Hogar<span class="fa fa-home"></span></p>
            </div>
            <div class="educacion">
                <input ng-click="toStep2()" class="to-step2" type="radio" name="inlineRadioOptions" ng-model="user.goalCategory" value="Educacion">
                <p>Educación<span class="fa fa-graduation-cap"></span></p>
            </div>
            <div class="otros">
                <input ng-click="toStep2()" class="to-step2" type="radio" name="inlineRadioOptions" ng-model="user.goalCategory" value="Otros">
                <p>Otros<span class="fa fa-suitcase"></span></p>
            </div>
        </div>
        <div class="step-2" ng-show="step2">
            <div class="form-group">
                <label>Cuéntanos tu sueño</label>
                <input type="text" ng-model="user.goalName" placeholder="" />
            </div>
            <div class="form-group">
                <label>¿Cuánto dinero necesitas para hacerlo realidad?</label>
                <input type="text" ng-model="user.goalValue" placeholder="" />
            </div>
            <div class="section">
                <label>¿Cómo te llamas?</label>
                <input type="text" ng-model="user.name" placeholder="Nombre y apellido" />
            </div>
            <div class="section">
                <label>¿Dónde te podemos llamar?</label>
                <input type="text" ng-model="user.mobile" placeholder="Celular o fijo" />
            </div>
            <div class="section">
                <label>Un correo electrónico donde te podamos contactar</label>
                <input type="text" ng-model="user.email" placeholder="" />
            </div>
            <div class="section">
                <label>¿Cuál es tu dirección?</label>
                <input type="text" ng-model="user.address" placeholder="" />
            </div>
            <div class="section">
                <label>¿En que pueblo o ciudad queda ubicado?</label>
                <input type="text" ng-model="user.city" placeholder="" />
            </div>
            <div class="section">
                <label>¿De que departamento es?</label>
                <input type="text" ng-model="user.state" placeholder="" />
            </div>
            <a class="btn to-step-3" ng-click="toStep3()">Continuar</a>
        </div>
        <div class="step-3" ng-show="step3">
            <h1>Cuéntanos un poco de tus ingresos</h1>
            <div class="budget">
                <div class="section budget-section">
                    <input type="text" ng-model="user.incomes.category1.name" placeholder="Concepto" />
                    <input type="text" ng-model="user.incomes.category1.value" placeholder="Monto" />
                </div>
                <div class="section budget-section">
                    <input type="text" ng-model="user.incomes.category2.name" placeholder="Concepto" />
                    <input type="text" ng-model="user.incomes.category2.value" placeholder="Monto" />
                </div>
                <div class="section budget-section">
                    <input type="text" ng-model="user.incomes.category3.name" placeholder="Concepto" />
                    <input type="text" ng-model="user.incomes.category3.value" placeholder="Monto" />
                </div>
                <a class="btn to-step-4" ng-click="toStep4()">Continuar</a>
            </div>
        </div>
        <div class="step-4" ng-show="step4">
            <h1>Cuentanos en que gastas tu dinero</h1>
            <div class="budget">
                <div class="section budget-section">
                    <label>Vivienda</label>
                    <input type="text" ng-model="user.expenses.category1.name" placeholder="Concepto" />
                    <input type="text" ng-model="user.expenses.category1.value" placeholder="Monto" />
                </div>
                <div class="section budget-section">
                    <label>Transporte</label>
                    <input type="text" ng-model="user.expenses.category2.name" placeholder="Concepto" />
                    <input type="text" ng-model="user.expenses.category2.value" placeholder="Monto" />
                </div>
                <div class="section budget-section">
                    <label>Alimentación</label>
                    <input type="text" ng-model="user.expenses.category3.name" placeholder="Concepto" />
                    <input type="text" ng-model="user.expenses.category3.value" placeholder="Monto" />
                </div>
                <div class="section budget-section">
                    <label>Educación</label>
                    <input type="text" ng-model="user.expenses.category4.name" placeholder="Concepto" />
                    <input type="text" ng-model="user.expenses.category4.value" placeholder="Monto" />
                </div>
                <div class="section budget-section">
                    <label>Salud</label>
                    <input type="text" ng-model="user.expenses.category5.name" placeholder="Concepto" />
                    <input type="text" ng-model="user.expenses.category5.value" placeholder="Monto" />
                </div>
                <div class="section budget-section">
                    <label>Otros</label>
                    <input type="text" ng-model="user.expenses.category6.name" placeholder="Concepto" />
                    <input type="text" ng-model="user.expenses.category6.value" placeholder="Monto" />
                </div>
            </div>
            <input type="submit" class="btn" ng-click="saveUser()" value="Guardar"/>
        </div>
    </form>
</div>